<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Home</title>
  </head>
  <body class="">
    <div class="flex flex-col gap-10 items-center justify-center h-screen">
      <h1 class="text-3xl font-bold">User</h1>
      <table class="w-[300px] md:w-[600px] max-w-[1200px]">
        <thead>
          <tr class="border">
            <th class="border w-[50px] md:w-[100px]">STT</th>
            <th class="border">Name</th>
            <th class="border">Age</th>
            <th class="w-[50px] md:w-[100px]">Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(u => { %>
          <tr class="border">
            <td class="border text-center"><%= u.id %></td>
            <td class="border text-center"><%= u.name %></td>
            <td class="border text-center"><%= u.age %></td>
            <td class="flex gap-2 px-2">
              <form
                method="post"
                action="/delete/<%= u.id %>"
                onsubmit="return confirm('Are you sure?')"
                class="flex items-center justify-center py-2"
              >
                <button
                  type="submit"
                  class="text-center bg-red-500 px-3 py-1 rounded-md text-white cursor-pointer"
                >
                  Delete
                </button>
              </form>

              <a href="/user/<%= u.id%>" class="py-2">
                <button
                  type="submit"
                  class="text-center bg-blue-500 px-3 py-1 rounded-md text-white cursor-pointer"
                >
                  Update
                </button>
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <button
        class="bg-blue-500 px-4 py-2 rounded-md text-white text-center cursor-pointer"
        onclick="document.getElementById('addModal').classList.remove('hidden')"
      >
        Add user
      </button>

      <%- include("partials/modalAddUser") %>
    </div>
  </body>
</html>
